/* Tipografía general */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

/* Imagen de fondo del header */
#header {
  background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c');
  background-size: cover;
  background-position: center;
  color: white;
}

/* Secciones con padding */
section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Imagen de tarjeta de proyecto */
.card img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.card {
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: sans-serif;
}

h2{
  background-color: blue;
  background-position: center;
  color: white;
  border-radius: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
}

.carousel-item img {
  height: 450px;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
}


